Repository Komandro-CCIT/Komandro-Archive, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, IoT, Web, UI/UX, Android

layout fundamantal
  ui-ux/2-layout_fundamental.md
  ui-ux/figma_module/1-Apa_itu_figma.md
  ui-ux/figma_module/2-Antarmuka_figma.md
  ui-ux/figma_module/3-plugin_figma.md
  ui-ux/figma_module/4-Login Register.md
Labels: Documentation, UI/UX

Update img md
  ui-ux/2-layout_fundamental.md
Labels: Documentation, UI/UX

lvl 10 sigma fix markdown
  ui-ux/2-layout_fundamental.md
Labels: Documentation, UI/UX

basic figma md
  ui-ux/4-basi_ figma.md
Labels: Documentation, UI/UX

fix basic figma
  ui-ux/4-basic_ figma.md
Labels: Documentation, UI/UX

fix figma basic img
  ui-ux/4-basic_ figma.md
Labels: Documentation, UI/UX

add link to module folder
  ui-ux/4-basic_ figma.md
Labels: Documentation, UI/UX

Module 1
  ui-ux/Module I/Introduction.md
  ui-ux/Module I/assets/1_AcQ9nlu_RUKOZtp4I0kAIA.png
  ui-ux/Module I/assets/Adobes.jpg
  ui-ux/Module I/assets/Adobexd.png
  ui-ux/Module I/assets/Konsistensi.jpg
  ui-ux/Module I/assets/Piagam Penghargaan UNITY.jpg
  ui-ux/Module I/assets/Prediktabilitas.jpg
  ui-ux/Module I/assets/Screenshot 2024-05-18 165851.png
  ui-ux/Module I/assets/Screenshot 2024-05-19 224425.png
  ui-ux/Module I/assets/Sketch.jpeg
  ui-ux/Module I/assets/WhatsApp Image 2024-05-18 at 16.33.25_5fb839a5.jpg
  ui-ux/Module I/assets/button.jpg
  ui-ux/Module I/assets/combobox.png
  ui-ux/Module I/assets/happy-cat-cat.gif
  ui-ux/Module I/assets/konsistensivisual.jpg
  ui-ux/Module I/assets/nahidwin.png
  ui-ux/Module I/assets/perubahancursor.jpg
  ui-ux/Module I/assets/perubahanwarna.jpg
  ui-ux/Module I/assets/pesanpopup.jpg
  ui-ux/Module I/assets/textfield.jpg
  ui-ux/Module I/assets/ux-or-ui-meme-198x300.jpg
Labels: Documentation, UI/UX

fix folder
  ui-ux/1-Introduction-uiux.md
  ui-ux/assets/1_AcQ9nlu_RUKOZtp4I0kAIA.png
  ui-ux/assets/Adobes.jpg
  ui-ux/assets/Adobexd.png
  ui-ux/assets/Konsistensi.jpg
  ui-ux/assets/Piagam Penghargaan UNITY.jpg
  ui-ux/assets/Prediktabilitas.jpg
  ui-ux/assets/Screenshot 2024-05-18 165851.png
  ui-ux/assets/Screenshot 2024-05-19 224425.png
  ui-ux/assets/Sketch.jpeg
  ui-ux/assets/WhatsApp Image 2024-05-18 at 16.33.25_5fb839a5.jpg
  ui-ux/assets/button.jpg
  ui-ux/assets/combobox.png
  ui-ux/assets/happy-cat-cat.gif
  ui-ux/assets/konsistensivisual.jpg
  ui-ux/assets/nahidwin.png
  ui-ux/assets/perubahancursor.jpg
  ui-ux/assets/perubahanwarna.jpg
  ui-ux/assets/pesanpopup.jpg
  ui-ux/assets/textfield.jpg
  ui-ux/assets/ux-or-ui-meme-198x300.jpg
Labels: Documentation, UI/UX

Add files via upload
  web-development/3-advance/Assets/clientSide.jpg
  web-development/3-advance/Assets/serverSide.jpg
  web-development/3-advance/ModulPHP.md
Labels: Documentation, Web

Update ModulPHP.md
  web-development/3-advance/ModulPHP.md
Labels: Documentation, Web

Instalasi Laravel
  web-development/3-advance/Assets/Instalasi-Laravel/artisan-serve.png
  web-development/3-advance/Assets/Instalasi-Laravel/composer.png
  web-development/3-advance/Assets/Instalasi-Laravel/gif1.gif
  web-development/3-advance/Assets/Instalasi-Laravel/gif2.gif
  web-development/3-advance/Assets/Instalasi-Laravel/installed.png
  web-development/3-advance/Assets/Instalasi-Laravel/laravel-welcome.png
  web-development/3-advance/Assets/Instalasi-Laravel/laravel.png
  web-development/3-advance/Assets/Instalasi-Laravel/vsc-looks.png
Labels: Web

guh
  ui-ux/4-basic_ figma.md
Labels: Documentation, UI/UX

test
  ui-ux/4-basic_ figma.md
Labels: Documentation, UI/UX

Add files via upload
  web-development/3-advance/MVC (1).docx
Labels: Web

Add files via upload
  web-development/3-advance/Assets/MVC PHP/Picture1.jpg
Labels: Web

Lesson module init
  ui-ux/1-Introduction_uiux.md
  ui-ux/figma/1-Apa_itu_figma.md
  ui-ux/figma/2-Antarmuka_figma.md
  ui-ux/figma/3-plugin_figma.md
  ui-ux/figma/4-Login Register.md
  ui-ux/lesson/1-Darkmode_principles.md
Labels: Documentation, UI/UX

Add files via upload
  web-development/3-advance/Assets/MVC PHP/Picture1.png
  web-development/3-advance/Assets/MVC PHP/Picture2.png
  web-development/3-advance/Assets/MVC PHP/Picture3.png
  web-development/3-advance/Assets/MVC PHP/Picture4.png
  web-development/3-advance/Assets/MVC PHP/Picture5.png
Labels: Web

Mobile buttons lesson
  ui-ux/lesson/1-Darkmode_principles.md
  ui-ux/lesson/2-Mobile_Buttons.md
Labels: Documentation, UI/UX

fix image
  ui-ux/lesson/2-Mobile_Buttons.md
Labels: Documentation, UI/UX

menambahkan modul CRUD PHP
  web-development/3-advance/2-dasar-php.md
  web-development/3-advance/3-crud-php.md
  web-development/3-advance/Assets/auto-incerment.png
  web-development/3-advance/Assets/buat-database.png
  web-development/3-advance/Assets/buat-tabel.png
  web-development/3-advance/Assets/hasil.png
  web-development/3-advance/Assets/phpmyadmin.png
  web-development/3-advance/Assets/struktur-tabel.png
  web-development/3-advance/Assets/xampp-download.png
  web-development/3-advance/Assets/xampp.png
  web-development/3-advance/ModulPHP.md
Labels: Documentation, Web

Menambahkan materi authentication
  web-development/3-advance/Assets/database.png
  web-development/3-advance/authentication.md
Labels: Documentation, Web

Update Materi Redis
  internet-of-things/material/1-introduction.md
  internet-of-things/material/2-In-memory-database.md
  internet-of-things/material/assets/1-introduction/ssh.jpeg
Labels: Documentation, IoT

Perbaikan penulisan materi redis
  internet-of-things/material/2-In-memory-database.md
Labels: Documentation, IoT

Fix writing
  internet-of-things/material/2-In-memory-database.md
Labels: Documentation, IoT

Finishing part 1
  internet-of-things/material/8-project-vending-machine-part-1.md
  internet-of-things/material/8-project-vending-machine-part-2.md
  internet-of-things/material/guh.txt
Labels: Documentation, IoT

WIP: Part 2
  internet-of-things/material/8-project-vending-machine-part-2.md
  internet-of-things/material/assets/8-project-vending-machine/1.png
Labels: Documentation, IoT

menambahkan modul component
  ui-ux/figma/Components.md
  ui-ux/figma/assets/10.gif
  ui-ux/figma/assets/11.gif
  ui-ux/figma/assets/2.gif
  ui-ux/figma/assets/3.gif
  ui-ux/figma/assets/4.gif
  ui-ux/figma/assets/5.gif
  ui-ux/figma/assets/6.gif
  ui-ux/figma/assets/8.gif
  ui-ux/figma/assets/9.gif
  ui-ux/figma/assets/Button img.jpg
  ui-ux/figma/assets/Checkbox img.jpg
  ui-ux/figma/assets/Component and instances.png
  ui-ux/figma/assets/Radio Button img.jpg
  ui-ux/figma/assets/Screenshot 2024-06-20 155813.png
  ui-ux/figma/assets/Text Input img.jpg
  ui-ux/figma/assets/Toggle Switch img.jpg
  ui-ux/figma/assets/cat-nerd-emoji.gif
  ui-ux/figma/assets/desktop.ini
  ui-ux/figma/assets/doubt.png
Labels: Documentation, UI/UX

WIP: Part 2
  internet-of-things/material/8-project-vending-machine-part-1.md
  internet-of-things/material/8-project-vending-machine-part-2.md
  internet-of-things/project/8-project-vending-machine/services/order_service.py
  internet-of-things/project/8-project-vending-machine/templates/index.html
Labels: Documentation, IoT

Finishing part 2-3
  internet-of-things/material/8-project-vending-machine-part-3.md
  internet-of-things/project/8-project-vending-machine/constants/services.py
Labels: Documentation, IoT

Finishing part 2, revision part 1
  internet-of-things/material/8-project-vending-machine-part-1.md
  internet-of-things/material/8-project-vending-machine-part-2.md
  internet-of-things/material/assets/8-project-vending-machine/1.gif
  internet-of-things/material/assets/8-project-vending-machine/2.gif
  internet-of-things/material/assets/8-project-vending-machine/2.png
  internet-of-things/material/assets/8-project-vending-machine/images/cola.png
  internet-of-things/material/assets/8-project-vending-machine/images/lemon.png
  internet-of-things/project/8-project-vending-machine/services/order_service.py
Labels: Documentation, IoT

Finishing proyek akhir
  internet-of-things/material/8-project-vending-machine-part-2.md
  internet-of-things/material/8-project-vending-machine-part-3.md
  internet-of-things/material/assets/8-project-vending-machine/3.gif
  internet-of-things/project/8-project-vending-machine/services/order_service.py
Labels: Documentation, IoT

added folder-folder-dalam-laravel
  web-development/3-advance/Assets/Folder-Folder-dalam-Laravel/app.jpeg
  web-development/3-advance/Assets/Folder-Folder-dalam-Laravel/bootstrap.jpeg
  web-development/3-advance/Assets/Folder-Folder-dalam-Laravel/config.jpeg
  web-development/3-advance/Assets/Folder-Folder-dalam-Laravel/database.jpeg
  web-development/3-advance/Assets/Folder-Folder-dalam-Laravel/global.jpeg
  web-development/3-advance/Assets/Folder-Folder-dalam-Laravel/public.jpeg
  web-development/3-advance/Assets/Folder-Folder-dalam-Laravel/resources.jpeg
  web-development/3-advance/Assets/Folder-Folder-dalam-Laravel/routes.jpeg
  web-development/3-advance/Assets/Folder-Folder-dalam-Laravel/tests.jpeg
  web-development/3-advance/Folder-Folder-dalam-Laravel.docx
Labels: Web

add final project and authetication
  android/flutter/2-flutter-lanjutan/4.authentikasi.md
  android/flutter/2-flutter-lanjutan/5-animasi.md
  android/flutter/2-flutter-lanjutan/6-pengujian.md
  android/flutter/2-flutter-lanjutan/excersise/4-authentikasi/jawaban.md
  android/flutter/2-flutter-lanjutan/excersise/4-authentikasi/latihan.md
  android/flutter/2-flutter-lanjutan/excersise/5-animasi/jawaban.md
  android/flutter/2-flutter-lanjutan/excersise/5-animasi/latihan.md
  android/flutter/2-flutter-lanjutan/excersise/6-testing/jawaban.md
  android/flutter/2-flutter-lanjutan/excersise/6-testing/latihan.md
  android/flutter/3-final-project/jawaban.md
  android/flutter/3-final-project/latihan.md
Labels: Documentation, Android

add final project and authetication
  android/flutter/2-flutter-lanjutan/4-animasi.md
  android/flutter/2-flutter-lanjutan/5-pengujian.md
Labels: Documentation, Android

added konsep MVC pada Laravel
  web-development/3-advance/Assets/Konsep-MVC-Pada-Laravel/controller.webp
  web-development/3-advance/Assets/Konsep-MVC-Pada-Laravel/model.webp
  web-development/3-advance/Assets/Konsep-MVC-Pada-Laravel/mvc.webp
  web-development/3-advance/Assets/Konsep-MVC-Pada-Laravel/view.webp
  web-development/3-advance/Konsep-MVC-Pada-Laravel.docx
Labels: Web

Finishing web introduction
  web-development/1-beginner/1-introduction-to-html.md
  web-development/1-beginner/1-introduction.md
  web-development/1-beginner/2-basic-semantic.md
  web-development/1-beginner/2-introduction-to-css.md
  web-development/1-beginner/3-basic-semantic.md
  web-development/1-beginner/assets/1.gif
  web-development/1-beginner/assets/1.png
  web-development/1-beginner/assets/10.png
  web-development/1-beginner/assets/11.png
  web-development/1-beginner/assets/2.png
  web-development/1-beginner/assets/3.png
  web-development/1-beginner/assets/4.png
  web-development/1-beginner/assets/5.png
  web-development/1-beginner/assets/6.png
  web-development/1-beginner/assets/7.png
  web-development/1-beginner/assets/8.png
  web-development/1-beginner/assets/9.png
  web-development/1-beginner/assets/structure.png
  web-development/1-beginner/exercise/1-introduction/ContohHasil.html
  web-development/1-beginner/exercise/1-introduction/Latihan.html
  web-development/1-beginner/exercise/1-introduction/exercise-introduction.html
  web-development/1-beginner/exercise/1-introduction/exercise-result.html
  web-development/1-beginner/exercise/2-basic-semantic/ContohHasil.html
  web-development/1-beginner/exercise/2-basic-semantic/Latihan.html
  web-development/1-beginner/exercise/2-introduction-to-css/exercise-left-image.html
  web-development/1-beginner/exercise/2-introduction-to-css/exercise-right-image.html
  web-development/1-beginner/exercise/3-basic-semantic/exercise-semantic.html
Labels: Documentation, Web

WIP: Web development intermediate
  web-development/2-intermediate/1-basic-bootstrap.md
  web-development/2-intermediate/1-introduction-to-bootstrap.md
  web-development/2-intermediate/2-basic-js.md
  web-development/2-intermediate/3-basic-dom-js.md
  web-development/2-intermediate/assets/0.png
  web-development/2-intermediate/assets/1.gif
  web-development/2-intermediate/assets/1.png
  web-development/2-intermediate/assets/2.gif
  web-development/2-intermediate/assets/2.png
  web-development/2-intermediate/assets/3.png
  web-development/2-intermediate/assets/4.png
Labels: Documentation, Web

Finishing Web beginner and intermediate
  web-development/2-intermediate/2-basic-js.md
  web-development/2-intermediate/2-introduction-to-js.md
  web-development/2-intermediate/3-basic-dom-js.md
  web-development/2-intermediate/3-introduction-to-dom-with-js.md
  web-development/2-intermediate/4-snippet-bootstrap.md
  web-development/2-intermediate/assets/3.gif
  web-development/3-advance/1-basic-js-library.md
Labels: Documentation, Web

Add table of content
  web-development/1-beginner/1-introduction-to-html.md
  web-development/1-beginner/2-introduction-to-css.md
  web-development/1-beginner/3-basic-semantic.md
  web-development/2-intermediate/1-introduction-to-bootstrap.md
Labels: Documentation, Web

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

IoT:
- changed-files:
  - any-glob-to-any-file: 'internet-of-things/**'

Web:
- changed-files:
  - any-glob-to-any-file: 'web-development/**'

UI/UX:
- changed-files:
  - any-glob-to-any-file: 'ui-ux/**'

Android:
- changed-files:
  - any-glob-to-any-file: 'android/**'
