Repository Komandro-CCIT/Komandro-Archive, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, IoT, Web, UI/UX, Android

Fix images path 3-build-and-deploy.md
  devops/material/3-build-and-deploy.md
Labels: Documentation

Fix copywriting
  devops/material/3-build-and-deploy.md
Labels: Documentation

Fix Completed 3-build-and-deploy.md
  devops/material/3-build-and-deploy.md
Labels: Documentation

WIP: Docker Compose, Docker Build and Push
  devops/material/4-cloud-introduction/docker-compose, build and push.md
  devops/material/4-cloud-introduction/docker-introduction.md
Labels: Documentation

WIP: Docker Compose, Docker Build and Push
  devops/material/4-cloud-introduction/docker-compose, build and push.md
  devops/material/4-cloud-introduction/docker-compose.md
  devops/material/4-cloud-introduction/docker-introduction.md
  devops/material/assets/docker-compose.png
Labels: Documentation

WIP: Todo list app
  quality-assurance/1-introduction-to-programming.md
  quality-assurance/2-exercise-with-todo-list-app.md
  quality-assurance/assets/2-exercise-with-todo-list-app/1.gif
  quality-assurance/assets/2-exercise-with-todo-list-app/1.png
  quality-assurance/assets/2-exercise-with-todo-list-app/2.gif
Labels: Documentation

Fix in memory database
  internet-of-things/material/2-In-memory-database.md
Labels: Documentation, IoT

infrastructure as code: material intro to IaC
  devops/material/1-introduction.md
  devops/material/infrastructure-as-code/assets/IaC-intro.jpg
  devops/material/infrastructure-as-code/assets/lego-city.webp
  devops/material/infrastructure-as-code/introduction.md
Labels: Documentation

WIP: Docker Command and Docker Compose
  devops/material/4-cloud-introduction/docker-compose.md
  devops/material/4-cloud-introduction/docker-introduction.md
  devops/material/assets/docker_create-repo.gif
  devops/material/assets/docker_push-success.png
Labels: Documentation

Revisi Instalasi
  internet-of-things/material/2-In-memory-database.md
  internet-of-things/material/3-message-broker.md
  internet-of-things/material/assets/2-inMemoryDatabase/1.png
  internet-of-things/material/assets/2-inMemoryDatabase/2.gif
  internet-of-things/material/assets/2-inMemoryDatabase/3.png
  internet-of-things/material/assets/2-inMemoryDatabase/4.gif
  internet-of-things/material/assets/2-inMemoryDatabase/5.png
  internet-of-things/material/assets/3-message-broker/2.gif
  internet-of-things/material/assets/3-message-broker/3.png
  internet-of-things/material/assets/3-message-broker/4.gif
  internet-of-things/material/assets/3-message-broker/5.png
  internet-of-things/material/assets/3-message-broker/55.png
  internet-of-things/material/assets/3-message-broker/6.png
  internet-of-things/material/assets/3-message-broker/7.gif
Labels: Documentation, IoT

Revisi Instalasii
  internet-of-things/material/2-In-memory-database.md
  internet-of-things/material/3-message-broker.md
Labels: Documentation, IoT

add: simple project web automation
  quality-assurance/5-simple-project-web-automation.md
  quality-assurance/assets/5-project-simple-automation-web/expandtesting.png
  quality-assurance/assets/5-project-simple-automation-web/image.png
  quality-assurance/assets/5-project-simple-automation-web/reporter.png
  quality-assurance/assets/5-project-simple-automation-web/selector.png
Labels: Documentation

membuat markdown tutorial laravel dari pengenalan - praktek membuat web crud
  web-development/3-advance/Assets/Pengenalan-Laravel/Composer.png
  web-development/3-advance/Assets/Pengenalan-Laravel/Hello-Word.png
  web-development/3-advance/Assets/Pengenalan-Laravel/Laravel-Logo.png
  web-development/3-advance/Assets/Pengenalan-Laravel/Laravel-Mulai.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/folder-product-dan-isi.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/hasil-akhir-tampilan.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/hasil-akhir.gif
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/isi-create-blade.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/isi-edit-blade.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/isi-index-blade.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/isi-product-controller.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/isi-show-blade.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/konfigdotenv.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/membuat-database.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/membuat-model-products.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/migration-product.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/product-controller.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/route-resource.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/table-products-database.png
  web-development/3-advance/Assets/Praktek-Web-CRUD-Sederhana/tambah-bootstrap.png
  web-development/3-advance/Laravel/1-Pengenalan-Laravel.md
  web-development/3-advance/Laravel/2-Konsep-Dasar-Laravel.md
  web-development/3-advance/Laravel/3-Database-&-Eloquent-ORM.md
  web-development/3-advance/Laravel/4-Praktek-Membuat-Web-dengan-Operasi-CRUD-Sederhana.md
  web-development/3-advance/Laravel/Folder-Folder-dalam-Laravel.docx
  web-development/3-advance/Laravel/Konsep-MVC-Pada-Laravel.docx
Labels: Documentation, Web

menambah daftar isi untuk modul praktek membuat web crud
  web-development/3-advance/Laravel/4-Praktek-Membuat-Web-dengan-Operasi-CRUD-Sederhana.md
Labels: Documentation, Web

exercise-1
  devops/material/latihan/exercise-1.md
Labels: Documentation

exercise-2
  devops/material/latihan/exercise-2
Labels: none

Rename exercise-2 to exercise-2.md
  devops/material/latihan/exercise-2.md
Labels: Documentation

Fix material
  devops/material/2-linux-and-virtualization.md
  devops/material/3-build-and-deploy.md
  devops/material/4-cloud-introduction/docker-introduction.md
  devops/material/latihan/exercise-1.md
Labels: Documentation

Update fundamental
  ui-ux/3-design-fundamental.md
  ui-ux/assets/design_fundamental/image 1.png
  ui-ux/assets/design_fundamental/image 2.png
  ui-ux/assets/design_fundamental/image 3.png
  ui-ux/assets/design_fundamental/image 4.png
  ui-ux/assets/design_fundamental/image 5.png
  ui-ux/assets/design_fundamental/image 6.png
  ui-ux/assets/design_fundamental/image 7.png
  ui-ux/assets/design_fundamental/image 8.png
  ui-ux/assets/design_fundamental/image 9.png
  ui-ux/assets/design_fundamental/image.png
Labels: Documentation, UI/UX

Fix exercise for OOP
  quality-assurance/4-exercise-for-OOP.md
Labels: Documentation

Fix FP
  quality-assurance/3-functional-programming.md
  quality-assurance/4-exercise-for-OOP.md
Labels: Documentation

Finishing introduction to programming
  quality-assurance/1-introduction-to-programming.md
Labels: Documentation

Fix introduction to programming
  quality-assurance/1-introduction-to-programming.md
Labels: Documentation

Fix automation project
  quality-assurance/5-simple-project-web-automation.md
Labels: Documentation

Rename file
  internet-of-things/material/7-project-vending-machine-part-1.md
  internet-of-things/material/7-project-vending-machine-part-2.md
  internet-of-things/material/7-project-vending-machine-part-3.md
Labels: Documentation, IoT

Fix OOP
  quality-assurance/3-functional-programming.md
  quality-assurance/4-exercise-for-OOP.md
  quality-assurance/4-object-oriented-programming-part-1.md
  quality-assurance/5-object-oriented-programming-part-2.md
  quality-assurance/6-simple-project-web-automation.md
Labels: Documentation

Uploading Assets for Exercise
  devops/material/assets/latihan/readme.md
Labels: Documentation

assets exercise 1 & 2
  devops/material/assets/latihan/exercise-1.1.png
  devops/material/assets/latihan/exercise-1.2.png
  devops/material/assets/latihan/exercise-2.1.png
  devops/material/assets/latihan/exercise-2.2.png
  devops/material/assets/latihan/exercise-2.3.png
  devops/material/assets/latihan/exercise-2.4.png
  devops/material/assets/latihan/exercise-2.5.png
Labels: none

Create exercise-answer.md
  devops/material/assets/latihan/exercise-answer.md
Labels: Documentation

Revising Exercise-1
  devops/material/latihan/exercise-1.md
Labels: Documentation

small-fixes
  devops/material/latihan/exercise-1.md
Labels: Documentation

small-updates
  devops/material/latihan/exercise-1.md
Labels: Documentation

Revising Exercise-2
  devops/material/latihan/exercise-2.md
Labels: Documentation

minor fix
  devops/material/assets/latihan/exercise-answer.md
Labels: Documentation

fix script bugs exercise-answer.md
  devops/material/assets/latihan/exercise-answer.md
Labels: Documentation

Fix copy writing
  devops/material/latihan/exercise-1.md
  devops/material/latihan/exercise-2.md
  devops/material/latihan/exercise-answer.md
Labels: Documentation

Wireframe bridge module
  ui-ux/5-wireframe.md
Labels: Documentation, UI/UX

Wireframe bridge module
  ui-ux/5-wireframe.md
Labels: Documentation, UI/UX

Wireframe bridge module
  ui-ux/5-wireframe.md
Labels: Documentation, UI/UX

init markdown lofi
  ui-ux/6-lofi-wireframe.md
Labels: Documentation, UI/UX

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

IoT:
- changed-files:
  - any-glob-to-any-file: 'internet-of-things/**'

Web:
- changed-files:
  - any-glob-to-any-file: 'web-development/**'

UI/UX:
- changed-files:
  - any-glob-to-any-file: 'ui-ux/**'

Android:
- changed-files:
  - any-glob-to-any-file: 'android/**'
