Repository Komandro-CCIT/Komandro-Archive, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, IoT, Web, UI/UX, Android

add detail to final project
  android/flutter/1-flutter-dasar/3-navigasi-dan-routing.md
  android/flutter/3-final-project/assets/final-project-create-flutter-app.gif
  android/flutter/3-final-project/assets/final-project-hashed-password.png
  android/flutter/3-final-project/assets/final-project-login-page.gif
  android/flutter/3-final-project/assets/final-project-pubspec.gif
  android/flutter/3-final-project/assets/final-project-signup-page.gif
  android/flutter/3-final-project/assets/final-project-supabase-key.png
  android/flutter/3-final-project/assets/final-project-supabase-login.png
  android/flutter/3-final-project/assets/final-project-supabase-new-project.png
  android/flutter/3-final-project/assets/final-project-supabase-sql-editor.gif
  android/flutter/3-final-project/assets/final-project-todo-page.gif
  android/flutter/3-final-project/jawaban.md
  android/flutter/3-final-project/latihan.md
Labels: Documentation, Android

Fix introduction
  android/dart/1-introduction.md
  android/dart/2-dart-dasar.md
  android/dart/3-dart-oop.md
  android/dart/4-dart-lanjutan.md
Labels: Documentation, Android

Fix markdown android flutter
  android/dart/2-dart-dasar.md
  android/flutter/1-flutter-dasar/1-widget-dasar.md
  android/flutter/1-flutter-dasar/2-layout-dasar.md
  android/flutter/1-flutter-dasar/3-navigasi-dan-routing.md
  android/flutter/1-flutter-dasar/4-state-management-dasar.md
  android/flutter/1-flutter-dasar/5-interaksi-dan-input.md
  android/flutter/2-flutter-lanjutan/1-state-management-lanjutan.md
  android/flutter/2-flutter-lanjutan/2-networking.md
  android/flutter/2-flutter-lanjutan/3-database-dan-penyimpanan.md
  android/flutter/2-flutter-lanjutan/4.authentikasi.md
  android/flutter/2-flutter-lanjutan/5-animasi.md
  android/flutter/2-flutter-lanjutan/6-automation-testing.md
  android/flutter/2-flutter-lanjutan/6-pengujian.md
Labels: Documentation, Android

messej broker
  internet-of-things/material/3-message-broker.md
Labels: Documentation, IoT

mesej broker
  internet-of-things/material/3-message-broker.md
Labels: Documentation, IoT

Update Introduction
  devops/material/Introduction.md
  devops/material/assets/Devops-Career-Roadmap-1.jpg
  devops/material/assets/apa-itu-devops-ilustrasi.jpeg
Labels: Documentation

Update Introduction.md
  devops/material/Introduction.md
Labels: Documentation

WIP: Docker Installation
  devops/material/docker-introduction.md
Labels: Documentation

WIP: Docker Installation
  devops/material/cloud-introduction/docker-introduction.md
  devops/material/docker-introduction.md
Labels: Documentation

WIP: Docker Installation
  devops/material/assets/docker-Logo.png
  devops/material/cloud-introduction/docker-introduction.md
Labels: Documentation

WIP: Docker Installation
  devops/material/cloud-introduction/docker-introduction.md
Labels: Documentation

Fix introduction
  devops/material/1-introduction.md
  devops/material/Introduction.md
Labels: Documentation

rabbitmq basic
  internet-of-things/material/3-message-broker.md
  internet-of-things/material/assets/3-message-broker/kirara.jpeg
  internet-of-things/material/assets/3-message-broker/rabbitmq.jpg
Labels: Documentation, IoT

rabbitmq basic rev
  internet-of-things/material/3-message-broker.md
Labels: Documentation, IoT

rabbitmq basic revv
  internet-of-things/material/3-message-broker.md
Labels: Documentation, IoT

WIP: Docker Command Introduction
  devops/material/4-cloud-introduction/docker-introduction.md
  devops/material/assets/docker-architecture.webp
  devops/material/assets/docker-install-success.png
  devops/material/cloud-introduction/docker-introduction.md
Labels: Documentation

Add files via upload
  devops/material/chapter1-linux-and-virtualization.md
Labels: Documentation

Delete devops/material/chapter1-linux-and-virtualization.md
  devops/material/chapter1-linux-and-virtualization.md
Labels: Documentation

Update chapter 1 50%
  devops/material/chapter1-linux-and-virtualization.md
Labels: Documentation

assets for chapter1
  devops/material/assets/creating-files.gif
  devops/material/assets/installing-multipass.gif
  devops/material/assets/linux.png
  devops/material/assets/mount-multipass1.png
  devops/material/assets/mount-multipass2.gif
  devops/material/assets/mount-multipass3.png
  devops/material/assets/mount-multipass4.gif
  devops/material/assets/nano-command.gif
  devops/material/assets/nano-command2.gif
  devops/material/assets/stdin-stdout-stderr.png
  devops/material/assets/tilde-expansion.gif
  devops/material/assets/utility-input.gif
  devops/material/assets/virtualization-infrastructure.png
  devops/material/assets/vm-meme.png
Labels: none

Update chapter1-linux-and-virtualization.md
  devops/material/chapter1-linux-and-virtualization.md
Labels: Documentation

rev install redis & install rabbitmq
  internet-of-things/material/2-In-memory-database.md
  internet-of-things/material/3-message-broker.md
  internet-of-things/material/assets/2-inMemoryDatabase/images.png
  internet-of-things/material/assets/2-inMemoryDatabase/req.png
Labels: Documentation, IoT

Membuat RabbitMQ dengan Python
  internet-of-things/material/3-message-broker.md
Labels: Documentation, IoT

Membuat RabbitMQ dengan Python (Rev Install)
  internet-of-things/material/3-message-broker.md
Labels: Documentation, IoT

Membuat RabbitMQ dengan Python (Rev lagi)
  internet-of-things/material/3-message-broker.md
Labels: Documentation, IoT

RabbitMQ Final
  internet-of-things/material/3-message-broker.md
  internet-of-things/material/assets/3-message-broker/1.png
  internet-of-things/material/assets/3-message-broker/2.png
  internet-of-things/material/assets/3-message-broker/3.gif
Labels: Documentation, IoT

uiux_design_fundamental
  ui-ux/3-design_fundamental.md
  ui-ux/assets/design_fundamental/Untitled 1.png
  ui-ux/assets/design_fundamental/Untitled.png
Labels: Documentation, UI/UX

revert "uiux_design_fundamental"
  ui-ux/3-design_fundamental.md
  ui-ux/assets/design_fundamental/Untitled 1.png
  ui-ux/assets/design_fundamental/Untitled.png
Labels: Documentation, UI/UX

Design fundamental
  ui-ux/3-design_fundamental.md
  ui-ux/assets/design_fundamental/Untitled 1.png
  ui-ux/assets/design_fundamental/Untitled.png
Labels: Documentation, UI/UX

Update 3-design_fundamental.md
  ui-ux/3-design_fundamental.md
Labels: Documentation, UI/UX

WIP: Docker Command and Docker Compose
  devops/material/4-cloud-introduction/docker-introduction.md
  devops/material/assets/docker_command-arg.gif
  devops/material/assets/docker_port-forwarding.gif
  devops/material/assets/docker_ps.gif
  devops/material/assets/docker_start.gif
  devops/material/assets/docker_stop.gif
Labels: Documentation

Fix iot
  internet-of-things/material/1-introduction.md
  internet-of-things/material/2-In-memory-database.md
  internet-of-things/material/3-message-broker.md
Labels: Documentation, IoT

Fix docs
  ui-ux/1-introduction-ui-ux.md
  ui-ux/2-layout-fundamental.md
  ui-ux/3-design-fundamental.md
  ui-ux/4-basic-figma.md
  ui-ux/4-basic_ figma.md
Labels: Documentation, UI/UX

Fix heading
  ui-ux/4-basic-figma.md
Labels: Documentation, UI/UX

WIP: build and deploy docs
  devops/material/2-build-deploy.md
  devops/material/assets/2-build-deploy/1.png
Labels: Documentation

Update 80% done and rename 2-build-deploy.md to 3-build-and-deploy.md
  devops/material/2-build-deploy.md
  devops/material/3-build-and-deploy.md
Labels: Documentation

assets for 3-Build-and-Deploy
  devops/material/assets/2-build-deploy/2.png
  devops/material/assets/2-build-deploy/3.png
Labels: none

Rename 2-build-deploy to 3-build-and-deploy
  devops/material/assets/3-build-and-deploy/1.png
Labels: none

assets for build-and-deploy
  devops/material/assets/3-build-and-deploy/2.png
  devops/material/assets/3-build-and-deploy/3.png
Labels: none

Delete devops/material/assets/2-build-deploy directory
  devops/material/assets/2-build-deploy/2.png
  devops/material/assets/2-build-deploy/3.png
Labels: none

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'

IoT:
- changed-files:
  - any-glob-to-any-file: 'internet-of-things/**'

Web:
- changed-files:
  - any-glob-to-any-file: 'web-development/**'

UI/UX:
- changed-files:
  - any-glob-to-any-file: 'ui-ux/**'

Android:
- changed-files:
  - any-glob-to-any-file: 'android/**'
