Repository Komandro-CCIT/Komandro-Archive, pull requests merged in 2024-01, with the labels that each got.

#41 Create 5-DOM-basic.md
  web-development/beginner/5-DOM-basic.md
Labels: documentation

#45 create introduction dan interface figma
  apa itu figma?.md
  ui-ux/README.md
  ui-ux/antarmuka figma.md
Labels: documentation, UI/UX

#47 rename plugin-figma to 3-plugin_figma
  ui-ux/3-plugin_figma.md
Labels: documentation, UI/UX

#44 Readme Placeholder (don't merge)
  web-development/1-beginner/1-introduction.md
  web-development/1-beginner/2-basic-semantic.md
  web-development/1-beginner/docs/basic-html-css/1-introduction.pdf
  web-development/1-beginner/docs/basic-html-css/basic-bootstrap.md
  web-development/1-beginner/docs/basic-html-css/basic-html-css.md
  web-development/1-beginner/docs/basic-html-css/basic-semantic.md
  web-development/1-beginner/docs/basic-html-css/docs/Introduction-html.docx
  web-development/1-beginner/docs/basic-html-css/docs/basic-bootstrap.docx
  web-development/1-beginner/docs/basic-html-css/docs/basic-html-css.docx
  web-development/1-beginner/docs/basic-html-css/docs/semantic.docx
  web-development/1-beginner/docs/basic-html-css/exercise/contoh-hasil.html
  web-development/1-beginner/docs/basic-html-css/exercise/latihan-1.html
  web-development/1-beginner/exercise/1-introduction/ContohHasil.html
  web-development/1-beginner/exercise/1-introduction/Latihan1.html
  web-development/1-beginner/exercise/README.md
  web-development/2-intermediate/1-basic-bootstrap.md
  web-development/2-intermediate/2-basic-js.md
  web-development/2-intermediate/3-DOM-basic.md
  web-development/2-intermediate/docs/basic-js/README.md
  web-development/2-intermediate/docs/basic-js/basic-javascript.md
Labels: documentation, Web

#49 Add latihan semantic
  web-development/1-beginner/exercise/1-introduction/Latihan.html
  web-development/1-beginner/exercise/2-basic-semantic/ContohHasil.html
  web-development/1-beginner/exercise/2-basic-semantic/Latihan.html
  web-development/1-beginner/exercise/README.md
Labels: documentation, Web

#50 add basic bootstrap latihan
  web-development/2-intermediate/exercise/1-basic-bootstrap/ContohHasil.html
  web-development/2-intermediate/exercise/1-basic-bootstrap/Latihan.html
Labels: Web

#51 add basic js latihan
  web-development/2-intermediate/exercise/2-basic-js/Jawaban.html
  web-development/2-intermediate/exercise/2-basic-js/Latihan.html
Labels: Web

#52 add dom latihan
  web-development/2-intermediate/exercise/3-DOM-basic/Jawaban.html
  web-development/2-intermediate/exercise/3-DOM-basic/Latihan.html
Labels: Web

#53 Non-Breath oblige
  web-development/2-intermediate/4-snippet-bootstrap.md
Labels: documentation, Web

#54 [Ultra rupture] Add latihan snippet
  web-development/2-intermediate/3-basic-dom-js.md
  web-development/2-intermediate/exercise/3-basic-dom-js/Jawaban.html
  web-development/2-intermediate/exercise/3-basic-dom-js/Latihan.html
  web-development/2-intermediate/exercise/4-snippet-bootstrap/ContohHasil.html
  web-development/2-intermediate/exercise/4-snippet-bootstrap/Latihan.html
Labels: documentation, Web

#55 [Galaxy Collapse] Add js library
  web-development/2-intermediate/5-basic-js-library.md
Labels: documentation, Web

#56 guh
  web-development/2-intermediate/5-basic-js-library.md
Labels: documentation, Web

#57 [Phony] Add JS library
  web-development/3-advance/1-basic-js-library.md
Labels: documentation, Web
