Repository Komandro-CCIT/Komandro-Archive, pull requests merged in 2024-05, with the labels that each got.

#61 ali's multipass introduction
  internet-of-things/material/1-introduction.md
  internet-of-things/material/assets/1-introduction/0.png
  internet-of-things/material/assets/1-introduction/1.gif
  internet-of-things/material/assets/1-introduction/10.gif
  internet-of-things/material/assets/1-introduction/10.png
  internet-of-things/material/assets/1-introduction/11.png
  internet-of-things/material/assets/1-introduction/12.png
  internet-of-things/material/assets/1-introduction/13.png
  internet-of-things/material/assets/1-introduction/15.gif
  internet-of-things/material/assets/1-introduction/16.png
  internet-of-things/material/assets/1-introduction/17.png
  internet-of-things/material/assets/1-introduction/18.gif
  internet-of-things/material/assets/1-introduction/2.gif
  internet-of-things/material/assets/1-introduction/2.png
  internet-of-things/material/assets/1-introduction/3.gif
  internet-of-things/material/assets/1-introduction/3.jpeg
  internet-of-things/material/assets/1-introduction/3.png
  internet-of-things/material/assets/1-introduction/4.gif
  internet-of-things/material/assets/1-introduction/4.png
  internet-of-things/material/assets/1-introduction/5.png
  internet-of-things/material/assets/1-introduction/6.png
  internet-of-things/material/assets/1-introduction/7.png
  internet-of-things/material/assets/1-introduction/8.png
  internet-of-things/material/assets/1-introduction/9.png
Labels: documentation, IoT

#63 Material/uiux fundamental
  ui-ux/2-layout_fundamental.md
  ui-ux/figma_module/1-Apa_itu_figma.md
  ui-ux/figma_module/2-Antarmuka_figma.md
  ui-ux/figma_module/3-plugin_figma.md
  ui-ux/figma_module/4-Login Register.md
Labels: documentation, UI/UX

#64 Update Basic Figma
  ui-ux/4-basic_ figma.md
Labels: documentation, UI/UX

#68 fix figma basic img
  ui-ux/4-basic_ figma.md
Labels: documentation, UI/UX

#69 add link to module folder
  ui-ux/4-basic_ figma.md
Labels: documentation, UI/UX

#70 Module 1
  ui-ux/Module I/Introduction.md
  ui-ux/Module I/assets/1_AcQ9nlu_RUKOZtp4I0kAIA.png
  ui-ux/Module I/assets/Adobes.jpg
  ui-ux/Module I/assets/Adobexd.png
  ui-ux/Module I/assets/Konsistensi.jpg
  ui-ux/Module I/assets/Piagam Penghargaan UNITY.jpg
  ui-ux/Module I/assets/Prediktabilitas.jpg
  ui-ux/Module I/assets/Screenshot 2024-05-18 165851.png
  ui-ux/Module I/assets/Screenshot 2024-05-19 224425.png
  ui-ux/Module I/assets/Sketch.jpeg
  ui-ux/Module I/assets/WhatsApp Image 2024-05-18 at 16.33.25_5fb839a5.jpg
  ui-ux/Module I/assets/button.jpg
  ui-ux/Module I/assets/combobox.png
  ui-ux/Module I/assets/happy-cat-cat.gif
  ui-ux/Module I/assets/konsistensivisual.jpg
  ui-ux/Module I/assets/nahidwin.png
  ui-ux/Module I/assets/perubahancursor.jpg
  ui-ux/Module I/assets/perubahanwarna.jpg
  ui-ux/Module I/assets/pesanpopup.jpg
  ui-ux/Module I/assets/textfield.jpg
  ui-ux/Module I/assets/ux-or-ui-meme-198x300.jpg
Labels: documentation, UI/UX

#71 Sync branch
  internet-of-things/material/1-introduction.md
  internet-of-things/material/assets/1-introduction/0.png
  internet-of-things/material/assets/1-introduction/1.gif
  internet-of-things/material/assets/1-introduction/10.gif
  internet-of-things/material/assets/1-introduction/10.png
  internet-of-things/material/assets/1-introduction/11.png
  internet-of-things/material/assets/1-introduction/12.png
  internet-of-things/material/assets/1-introduction/13.png
  internet-of-things/material/assets/1-introduction/15.gif
  internet-of-things/material/assets/1-introduction/16.png
  internet-of-things/material/assets/1-introduction/17.png
  internet-of-things/material/assets/1-introduction/18.gif
  internet-of-things/material/assets/1-introduction/2.gif
  internet-of-things/material/assets/1-introduction/2.png
  internet-of-things/material/assets/1-introduction/3.gif
  internet-of-things/material/assets/1-introduction/3.jpeg
  internet-of-things/material/assets/1-introduction/3.png
  internet-of-things/material/assets/1-introduction/4.gif
  internet-of-things/material/assets/1-introduction/4.png
  internet-of-things/material/assets/1-introduction/5.png
  internet-of-things/material/assets/1-introduction/6.png
  internet-of-things/material/assets/1-introduction/7.png
  internet-of-things/material/assets/1-introduction/8.png
  internet-of-things/material/assets/1-introduction/9.png
  ui-ux/1-Introduction-uiux.md
  ui-ux/2-layout_fundamental.md
  ui-ux/4-basic_ figma.md
  ui-ux/assets/1_AcQ9nlu_RUKOZtp4I0kAIA.png
  ui-ux/assets/Adobes.jpg
  ui-ux/assets/Adobexd.png
  ui-ux/assets/Konsistensi.jpg
  ui-ux/assets/Piagam Penghargaan UNITY.jpg
  ui-ux/assets/Prediktabilitas.jpg
  ui-ux/assets/Screenshot 2024-05-18 165851.png
  ui-ux/assets/Screenshot 2024-05-19 224425.png
  ui-ux/assets/Sketch.jpeg
  ui-ux/assets/WhatsApp Image 2024-05-18 at 16.33.25_5fb839a5.jpg
  ui-ux/assets/button.jpg
  ui-ux/assets/combobox.png
  ui-ux/assets/happy-cat-cat.gif
  ui-ux/assets/konsistensivisual.jpg
  ui-ux/assets/nahidwin.png
  ui-ux/assets/perubahancursor.jpg
  ui-ux/assets/perubahanwarna.jpg
  ui-ux/assets/pesanpopup.jpg
  ui-ux/assets/textfield.jpg
  ui-ux/assets/ux-or-ui-meme-198x300.jpg
  ui-ux/figma_module/1-Apa_itu_figma.md
  ui-ux/figma_module/2-Antarmuka_figma.md
  ui-ux/figma_module/3-plugin_figma.md
  ui-ux/figma_module/4-Login Register.md
Labels: documentation, IoT, UI/UX

#72 Material/web lorem
  web-development/3-advance/Assets/clientSide.jpg
  web-development/3-advance/Assets/serverSide.jpg
  web-development/3-advance/ModulPHP.md
Labels: documentation, Web

#74 Ganti nama Author (test push)
  ui-ux/4-basic_ figma.md
Labels: documentation, UI/UX
